
<mat-card>
    <mat-card-header>
        <mat-card-title><a href="https://mcfate-yelpcamp.herokuapp.com">YelpCamp</a></mat-card-title>
        <mat-card-subtitle>Javascript Website with Node.JS Back End</mat-card-subtitle>
    </mat-card-header>
    <a href="https://mcfate-yelpcamp.herokuapp.com" target="_blank"><img mat-card-image src="../../assets/images/camp.png"></a>
    <mat-card-content>
        <p>Front End Technologies: </p>
        <p><strong>Javascript, Bootstrap</strong></p>
        <p>Back End Technologies:</p>
        <p><strong>Node.JS, Express, MongoDB</strong></p>
    </mat-card-content>
</mat-card>