<mat-toolbar color="warning">
    <p>Projects</p>
</mat-toolbar>
<mat-card *ngFor="let project of projects">
    <mat-card-header>
        <mat-card-title><a [href]="project.webLink">{{ project.title }}</a></mat-card-title>
        <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
    </mat-card-header>
    <a [href]="project.webLink" target="_blank"><img mat-card-image [src]="project.imgLink"></a>
    <mat-card-content>
        <p>Front End Technologies: </p>
        <p><strong>{{ project.frontEnd }}</strong></p>
        <p>Back End Technologies:</p>
        <p><strong>{{ project.backEnd }}</strong></p>
    </mat-card-content>
</mat-card>