<app-toolbar></app-toolbar>
<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <div class="link-container" routerLink="info">
            <div class="link">
                <mat-icon>description</mat-icon>
                <p>Info</p>
            </div>
        </div>
        <div class="link-container" routerLink="projects">
            <div class="link">
                <mat-icon>link</mat-icon>
                <p>Projects</p>
            </div>
        </div>
        <div class="link-container" routerLink="contact">
            <div class="link">
                <mat-icon>email</mat-icon>
                <p>Contact</p>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>